{% extends 'ORC/base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="about-section">
        <h1>About Central Omaha Retirement Center</h1>
    </div>
   <div class="row">
        <div class="home">
            <img src="{% static "images/RetirementHome.png" %}" alt="" >
        </div>
    </div>
    <div class="paragraph">
        <p>A retirement community is a residential community or housing complex designed for older adults who are generally able to care for themselves; however, assistance from home care agencies is allowed in some communities, and activities and socialization opportunities are often provided.A sense of community allows seniors to have social connections with other residents who are in the same stage of life, that being retirement.The residents were at the age of 60+. </p>
    </div>

{% endblock %}
